@function int($f-min, $f-max, $units: px) {

    $k: calc(($f-max - $f-min) / (992 - 575));
    $b: $f-min - $k * 575;

    $b: $b + $units;

    $cl-min: $f-min + $units;
    $cl-max: $f-max + $units;

    @return clamp($cl-min, calc(#{$k} * 100vw + #{$b}), $cl-max);

}

@mixin media($maxWidth) {

    @media (max-width: $maxWidth){
        @content;
    }

}