.subs {
    padding: int(30,50) 0 50px;
    background: #fff;
    &__subtitle {
        margin-top: int(20,30);
        max-width: 400px;
        line-height: 1.25;
    }
    .form {
        margin-top: 15px;
        &__inputs {
            display: grid;
            grid-template-columns: repeat(2, minmax(auto, 400px));
            gap: 20px;
        }
    }
    .btn {
        margin-top: 20px;
        width: 141px;
    }
}

@media (max-width: 767px) {
    .subs .form__inputs {
        grid-template-columns: 100%;
        gap: int(10,20);
    }
    .subs .btn {
        margin-top: int(10,20);
    }
}